<header>
    <div class="profile">

        <div class="requests">
            <div class="menu-lines">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul class="requests-pending">

            </ul>
        </div>
    </div>

    <div class="search">

        <div class="search-bar">

            <input type="text">

            <select name="options" id="options">
                <option value="">Filtrar</option>
                <option value="">Nome</option>
                <option value="">Sala</option>
                <option value="">Status</option>
            </select>
        </div>
    </div>

    <div class="add-new">
        <div class="add-adm">
            <button>+ Add Adm</button>
            
            <button>- Remover Adm</button>
        </div>
        <div class="add-employee">
            <button>+ Add Funcionário</button>
            
            <button>- Remover Funcionário</button>
        </div>
    </div>
</header>