<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/loginCss/login.css}">
</head>

<body>


    <main class="login-inicial">
        <form class="form-login-inicial" action="logarAdmUser" method="post">
            <h2>Login</h2>
            <p class="mensagem" th:text="${mensagem}" style="color: rgb(255, 0, 0);"></p>
            <div class="inputs-login-inicial">
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <div class="link-esquecimento-senha" style="width: 80%;">
                    <a href="">Esqueceu sua senha?</a>
                </div>
            </div>
                <button type="submit">Entrar</button>          
        </form>
        <section class="background">
            <div class="cube" style="width:15px ; height: 15px; animation-duration: 5s; top: 10%"></div>
            <div class="cube2" style="width: 40px; height:40px ; animation-duration: 11s; top: 20%"></div>
            <div class="cube2" style="width: 60px; height: 60px; animation-duration: 7s; top: 25%"></div>
            <div class="cube2" style="width: 30px; height: 30px; animation-duration: 5s; top: 30%"></div>
            <div class="cube" style="width: 10px; height:10px ; animation-duration: 8s; top:29% "></div>
            <div class="cube2" style="width: 55px; height:55px ; animation-duration: 4s; top:53% "></div>
            <div class="cube" style="width: 35px; height:35px ; animation-duration: 5s; top:90% "></div>
            <div class="cube2" style="width: 80px; height: 80px; animation-duration: 6s; top: 88%"></div>
            <div class="cube" style="width: 25px; height:25px ; animation-duration: 20s; top:74% "></div>
            <div class="cube2" style="width: 17px; height: 17px; animation-duration: 4s; top: 85%"></div>
            <div class="cube" style="width: 22px; height: 22px; animation-duration: 19s; top: 63%"></div>
            <div class="cube" style="width: 7px; height: 7px; animation-duration: 10s; top:42% "></div>
            <div class="cube2" style="width: 37px; height:37px ; animation-duration: 16s; top:94% "></div>
            <div class="cube2" style="width: 43px; height: 43px; animation-duration: 27s; top:14% "></div>
            <div class="cube" style="width: 12px; height: 12px; animation-duration: 6s; top:49% "></div>
            <div class="cube2" style="width: 53px; height: 53px; animation-duration: 7s; top: 79%"></div>
            <div class="cube" style="width: 7px; height: 7px; animation-duration: 13s; top:4% "></div>
            <div class="cube2" style="width: 37px; height:37px ; animation-duration: 14s; top:91% "></div>
            <div class="cube2" style="width: 43px; height: 43px; animation-duration: 4s; top:11% "></div>
            <div class="cube" style="width: 12px; height: 12px; animation-duration: 11s; top:43% "></div>
            <div class="cube2" style="width: 53px; height: 53px; animation-duration: 4s; top: 98%"></div>
        </section>
        

    </main>
</body>

</html>