<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="cadastro-equipamento">

        <p style="color: rgb(199, 5, 5);" th:text="${mensagem}"></p>
        <h2>Cadastro de Equipamento</h2>
        <form action="cadastrar-equipamento" class="equipamento-form" method="post">
            <div class="img-cadastro">
                <div class="campo-img" type="file"></div>
                <input type="file" class="file-input">
            </div>
            <div class="form-group">
                <div class="top-inputs">
                    <input type="text" id="ativo" name="ativo" placeholder="Código Patrimonio">
                    <input type="text" id="nome" name="nome" placeholder="Equipamento" required>
                </div>
                <div class="bottom-inputs">
                    <select id="status" name="status" required>
                        <option value="">Selecione...</option>
                        <option value="disponivel">Disponível</option>
                        <option value="manutenção">Em manutenção</option>
                        <option value="serviço">Fora de serviço</option>
                    </select>
                    <input type="text" id="categoria" name="categoria" placeholder="Categoria" required>
                </div>
            </div>
            <button type="submit" class="add-equip">Cadastrar Equipamento</button>
        </form>
    
    </section>
    
</body>
</html>
