header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e3063d; /* Fundo branco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.profile {
    display: flex;
    align-items: center;
}

.profile .requests {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .requests .menu-lines {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile .requests .menu-lines span {
    width: 100%;
    height: 2px;
    background-color: #ffffff; /* Linhas do menu */
}

.search {
    flex: 1;
}

.search .search-bar {
    position: relative;
}

.search .search-bar input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search .search-bar p {
    position: absolute;
    top: 50%;
    right: 215px;
    transform: translateY(-50%);
    color: #999; /* Cor do separador */
}

.search .search-bar #options {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* MENU */
.menu {
    width: 200px;
    height: 90%;
    position: fixed;
    background-color: #e3063d;
    left: -200px;
    top: 80px;
    transition: .6s;
    display: flex;
    align-items: flex-end;
}
.menu .container-menu{
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu .container-menu .links-menu, .links-menu li{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}