#section-prof{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-prof{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-formulario-prof{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInProf 1s ease-out;
}
.formulario-prof{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#btn-cad-prof{
    background: #e3092a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;    
}

#btn-cad-prof:hover{
    transition: .2s;
    background-color: transparent;
    border: 2px solid #e3092a;
    color: #e3092a;
}
.section-cad-professor{
    display: none;
}
input{
    margin-bottom: 10px;
}
@keyframes fadeInProf {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}